h1 Login

block content
    form(action='/', method="post")
        div.input
            span.label Enter your username: 
            input(type="text", name="username")
        div.actions
            input(type="submit", value="Submit")
